body {
  display: grid;
  grid-template-columns: 3fr 10fr 5fr;
  grid-template-rows: 15vh 50vh 40vh 30vh 30vh 30vh 30vh;
  row-gap: 40px;
  background-color: black;
}

header {
  grid-column: 1/5;
  text-align: center;
  background-color: palevioletred;
  border: 10px;
  border-radius: 10px;
  padding: 25px;
}

h1 {
  margin: auto;
  background-color: red;
  border-radius: 10px;
  grid-row: 1/2;
  justify-content: space-between;
  width: fit-content;
  
}

aside {
  background-color: palevioletred;
  grid-row: 2/3;
  
}

.smör {
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  
}

.instruktion1 {
  grid-row: 3/4;
  grid-column: 2/5;
  background-color: palevioletred;
  padding-left: 10px;
 
  
}

.boll {
  grid-column: 2/5;
  height: 100%;
  width: 150%;
 
}

.instruktion2 {
  background-color: palevioletred;
  grid-row: 4/5;
  grid-column: 1/5;
  padding-left: 10px;
}

.kakao {
  grid-row: 4/5;
  grid-column: 3/5;
  width: 100%;
  height: 100%;
  
}

.instruktion3 {
  background-color: palevioletred;
  grid-row: 5/6;
  grid-column: 1/5;
  padding-left: 10px;
}

.instruktion4 {

  background-color: palevioletred;
  grid-row: 6/7;
  grid-column: 1/5;
  padding-left: 10px;
}

.instruktion5 {
  background-color: palevioletred;
  grid-row: 7/8;
  grid-column: 1/5;
  text-align: center;
  padding: 40px;
  padding-left: 10px;
}


p{
    margin: auto;
    background-color: gray;
}
#tid{
    float: left;
    
}